
<div class="help overflowH">
	<div class="container">
		<div class="findbox">
			<label>查找好友：</label>
			<input placeholder="姓">
			<input placeholder="名">
			<input type="button" value="搜索" style="width:80px;">
		</div>
		<hr>
		<div class="contbox">
			<div class="cont">
				<span>常规信息</span>
				<ul>
					<li><a href="">注册智博</a></li>
					<li><a href="">帮助中心</a></li>
					<li><a href="">关于</a></li>
					<li><a href="">媒体中心</a></li>
					<li><a href="">博客</a></li>
					<li><a href="">招聘专版</a></li>
					<li><a href="">开发者</a></li>
				</ul>
			</div>
			<div class="cont">
				<span>浏览展会</span>
				<ul>
					<li><a href="">动态</a></li>
					<li><a href="">人物</a></li>
					<li><a href="">职位</a></li>
					<li><a href="">客户端</a></li>
					<li><a href="">智博赤兔客户端</a></li>
				</ul>
			</div>
			<div class="cont">
				<span>商务解决方案</span>
				<ul>
					<li><a href="">征才解决方案</a></li>
					<li><a href="">营销解决方案</a></li>
					<li><a href="">销售解决方案</a></li>
				</ul>
			</div>
			<div class="cont">
				<span>目录</span>
				<ul>
					<li><a href="">会员</a></li>
					<li><a href="">职位</a></li>
					<li><a href="">展会洞察</a></li>
					<li><a href="">公司</a></li>
					<li><a href="">院校</a></li>
					<li><a href="">头衔</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>


<div class="footer">
	<div class="footerbox container">
		<a href="">智博会©2015</a>
		<a href="">用户协议</a>
		<a href="">社区准则</a>
		<a href="">版权政策</a>
		<a href="">智博会©2015</a>
		<a href="">访客设置</a>
		<a href="">使用语言</a>
	</div>
</div>

<include file="Public/var"/>
<block name="script"></block> <!-- 用于加载js代码 -->