<extend name="Base/user"/>


<block name="content">

	<p class="lead">{$data.title} <small class="gray text-small ">已报名会议</small></p>
	<hr>

	<p class="lead">报名信息  <a href="{:U('User/edit_baoming?id='.$data['id'])}"><small class="gray text-small ">修改信息</small></a></p>
	<dl class="user-info" >
		<dt>序号</dt> <dd>{$data.id}</dd>
		<dt>姓名</dt> <dd>{$data.name}</dd>
		<dt>号码</dt> <dd>{$data.mobile}</dd>
		<dt>报名时间</dt> <dd>{$data.create_time|date='Y-m-d H:i:s',###}</dd>
	</dl>
	<hr>

	<p class="lead">会议信息  <a href="{:U('Article/detail?id='.$data['huiyi_id'])}"><small class="gray text-small ">查看更多</small></a></p>
	<dl class="user-info" >
		<dt>会议主讲人</dt> <dd>{$data.xingming}</dd>
		<dt>会议开始时间</dt> <dd>{$data.open_time|date='Y-m-d H:i:s',###}</dd>
		<dt>会议地址</dt> <dd>{$data.address}</dd>
		<dt>联系方式</dt> <dd>{$data.lianxifangshi}</dd>
	</dl>
	
</block>
