<!DOCTYPE HTML>
<html>
<head>
  <include file="Public/head"/>
</head>
<body>
  <div class="bgbox">
    <div class="container">
      <div class="login ">
        <div class="boxlogo"><a href="{:U('Index/index')}"><img src="__IMG__/loginlogo1.png"></a></div>
        <div class="loginbox">
          <h1>在这里，连接世界</h1>
          <h2>立即免费注册</h2>

          <form action="__SELF__" method="post">
            <dl>
              <dt>真实姓名</dt>
              <dd>
                <input type="text" value="" placeholder="真实姓名" name="username">
              </dd>
              <dt>手机</dt>
              <dd>
                <input type="text" value="" placeholder="手机"  name="mobile">
              </dd>
              <dt>密码（至少6个字符）</dt>
              <dd>
                <input type="password" value="" placeholder="请输入密码" name="password">
              </dd>
              <dt>确认密码</dt>
              <dd>
                <input type="password" value="" placeholder="请再次输入密码" name="repassword">
              </dd>
            </dl>

            <p class="gray text-small text-left">* 点击“立即加入”，即代表您同意宁波智博会的《用户协议》、《隐私政策》和《Cookie政策》。</p>
            <div class="text-center">
              <button type="submit" class="btn joinBtn">立刻加入</button>
            </div>
          </form>
        </div>
        <p>已经有账号？<a href="{:U('User/login')}">登录</a></p>
      </div>
    </div>
  </div>

  <include file="Public/footer"/>

</body>
</html>