<extend name="Base/common"/>

<block name="body">

  <section class="slider banner">
    <div class="slider-list">

      <think:article name="Huiyi" cate="47" pos="4" model_id="4" >
      <php>
        $jiabin = get_jiabin($article['jiabin_id']);
      </php>

      <div class="slider-item" data-cover="{$article.cover_id|get_cover='path'}">
        <div class="banner-box row">
          <div class=" banner-top col-md-12">
            <div class="banner-top-content">
              <h2>“互联网+”创新方向和重点</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. </p>
            </div>

          </div>

          <div class="banner-middle col-md-12">

            <div class="banner-middle-left">
              <a href="{:U('Article/detail?id='.$article['id'])}">
                <h2>{$article.title}</h2>
              </a>
              <p class="text-left">{$article.description}</p>
            </div>

            <div class="banner-middle-right">
              <a href="{:U('Article/detail?id='.$jiabin['id'])}">
              <div class="photobox">
                  <img src="{$jiabin.cover_id|get_cover='path'}" class="">
                  </div>
                <h6> {$jiabin.title}</h6>
              </a>
              <p>{$jiabin.job_title}</p>
            </div>
          </div>

        </div>
      </div>

      </think:article>
    </div>
  </section>


<include file="Sections/hot_news" />

<include file="Sections/recommend_guest" />

<include file="Sections/hot_forums" />

</block>

<block name="script">
  <script src="__JS__/lib/slider.js"></script>
  <script>

    $(function () {
      "use strict";
      // 使用
      $('.slider').slider({
        delayTime: 8000
      });

    });
  </script>

</block>
