<extend name="Base/user" />

<block name="content">
  <div class="user-right col-md-9">

    <h3 class="lead">修改密码</h3>

    <hr>

    <form class="login-form" action="__SELF__" method="post">

      <div class="form-group">
        <label for="inputPassword">原密码</label>
        <input type="password" name="old" class="form-control" id="inputPassword" placeholder="请输入密码">
      </div>
      <div class="form-group">
        <label for="inputNewPassword">新密码</label>
        <input type="password" name="password" class="form-control" id="inputNewPassword" placeholder="请输入密码">
      </div>
      <div class="form-group">
        <label for="inputRePassword">确认密码</label>
        <input type="password" name="repassword" class="form-control" id="inputRePassword" placeholder="请再次输入密码">
      </div>
      <button type="submit" class="btn btn-default">提 交</button>
    </form>
    <hr>
  </div>

</block>
