<extend name="Base/common"/>

<block name="body">
  <section class="login-box">
    <div class="container">
      <div class="center-block" style="width: 360px;">
        <h2>用户注册</h2>
        <div class="login overflow">


          <div class="alert hidden" role="alert" id="alterMsg">
          </div>
          <form action="__SELF__" method="post" id="loginForm">

            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input type="text" name="username" class="form-control" placeholder="请输入真实姓名" maxlength="11">
              </div>
              <label class="control-label hidden">请输入姓名</label>

            </div>

            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
                <input type="text" name="mobile" class="form-control" placeholder="请输入手机" maxlength="11">
              </div>
              <label class="control-label hidden">请输入正确的手机号码</label>

            </div>

            <div class="form-group">

              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input type="password" name="password" class="form-control" placeholder="请输入密码">
              </div>
              <label class="control-label hidden">请输入正确的密码</label>

            </div>
            <div class="form-group">

              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input type="password" name="repassword" class="form-control" placeholder="请再次输入密码">
              </div>
              <label class="control-label hidden">两次密码不一致</label>

            </div>

            <p class="text-muted small text-left"><span class="text-danger">*</span> 点击“立即加入”，即代表您同意宁波智博会的《用户协议》、《隐私政策》和《Cookie政策》。</p>

            <div class="form-group">

              <button class="btn btn-default btn-block" type="submit">立即加入</button>
            </div>
            <p>已经有账号？<a href="{:U('User/login')}">登录</a></p>

          </form>

        </div>

      </div>
    </div>

  </section>
</block>


<block name="script">
  <script src="__JS__/until.js"></script>
  <script>

    $(function () {
      "use strict";

      $('#loginForm')
      .submit(function () {

        var $this = $(this);
        var $mobile = $this.find('input[name="mobile"]'),
            $username = $this.find('input[name="username"]'),
            $password = $this.find('input[name="password"]'),
            $repassword = $this.find('input[name="repassword"]'),
            isError = false;


        if (isUsername($username.val())) {

          successInput($username);

        } else {

          errorInput($username);
          isError = true;

        }


        // 验证mobile是否电话号码
        if (isMobile($mobile.val())) {

          successInput($mobile);

        } else {

          errorInput($mobile);
          isError = true;

        }

        // 验证password是否符合
        if (isPassword($password.val())) {

          successInput($password);

        } else {

          errorInput($password);
          isError = true;

        }



        // 验证password是否符合
        if ($password.val() === $repassword.val()) {

          successInput($repassword);

        } else {

          errorInput($repassword);
          isError = true;

        }

        if (! isError) {

          // ajax 提交表单
          $.ajax({

              method: "POST",            // 请求的方法
              url: $this.attr('action'), // 请求路由
              data: {                    // 表单数据
                mobile: $mobile.val(),
                username: $username.val(),
                password: $password.val(),
                repassword: $repassword.val(),
              }
            })
            .done(function (data) {

              if (data.status === 1) {
                successAlert(data.info + " 3秒后转跳！");
                setTimeout(function () {
                  location.href = data.url;
                }, 3000);
              } else {
                errorAlert(data.info);
              }
            });
        }
        return false;


      });

      $('input[name="mobile"]')
      .change(function () {
        var $this = $(this),
            value;

        value = $this.val();

        if (isMobile(value)) {

          successInput($this);
        } else {

          errorInput($this);

        }

      });

      $('input[name="username"]')
      .change(function () {
        var $this = $(this),
            value;

        value = $this.val();

        if (isUsername(value)) {

          successInput($this);
        } else {

          errorInput($this);

        }
      });

      $('input[name="password"]')
      .change(function () {
        var $this = $(this),
            value;

        value = $this.val();

        if (isPassword(value)) {

          successInput($this);
        } else {

          errorInput($this);

        }

        $('input[name="repassword"]').change();

      });


      $('input[name="repassword"]')
      .change(function () {
        var $this = $(this),
            value;

        value = $this.val();

        var password = $('input[name="password"]').val();

        if (password === $this.val()) {

          successInput($this);
        } else {

          errorInput($this);

        }

      });





    });
  </script>
</block>

