@import (reference) "vendor/variables.less";

@import (less) "style/reset.less";
@import (less) "style/index/banner.less";
@import (less) "style/index/news.less";
@import (less) "style/index/guest.less";
@import (less) "style/index/maincontent.less";
@import (less) "style/index/guestfloat-box.less";
@import (less) "style/simpleList.less";
@import (less) "style/footer.less";


// .nav {
//   ul{
//     float: right;
//     margin: 0;

//     li{
//       float: left;
//       padding: 20px 10px;
//       border:1px solid black;

//       a{
//         span{

//         }
//       }
//       ul{
//         opacity: 0.8;
//         li{
//           padding:5px 0px;
//           width: 200px;
//           text-align: center;
//           a{

//           }
//         }
//       }
//     }
//   }
// }


// form{
//   float: right;
// }



//fourm














//apply

.apply{
  margin-top: 30px;
  h2{
    margin-bottom: 20px;
  }
  .apply-left{
    padding-left: 60px;

    h6{
      font-size: 16px;
      margin-bottom: 20px;
    }
    ul{
      li{
        height: 56px;
        h6{
          font-size: 14px;
          color: #539;
          margin-bottom: 10px;
        }
        span{
          color:#bbb;
        }
      }
    }
    .map-box{
      width: 200px;
      height: 120px;

      margin-top: 40px;
      margin-bottom: 30px;
      img{
        width: 100%;
      }
    }
    button{
      width: 100px;
      height: 40px;
      text-align: center;
    }

  }

  .apply-right{
    margin: 0px;
    width: 300px;
    dl{
      dt{
        width: 50px;
        float: left;
        text-align: right;
        margin-right: 16px;
      }
      dd{
        margin:10px 0;
      }
    }
    .apply-right-top{
      padding-bottom: 30px;
      h4{}
      border-bottom:1px dashed #bbb;
      .self{

      }

    }
    button{
      float:right;
      width: 60px;
      height: 20px;
    }


    .apply-right-bottom{
      margin-top: 30px;
      h4{

      }
      .agency{

      }
    }

  }

}









//login
.logina{
  margin-top: 50px;
  .login-left{
    h4{

      margin-bottom: 10px;
      span{
        margin-left: 10px;
        color:#ccc;
      }
    }
    p{
      margin-bottom: 10px;
    }
    ul{
      width: 160px;
      border-top: #ccc solid 1px;
    }
  }

  .login-right{
    h2{
      font-size: 22px;
    }
    dl{
      dt{
        width: 50px;
        float: left;
        text-align: right;
        margin-right: 16px;
      }
      dd{
        margin: 10px 0px;
      }
    }

  }
}


.login-box{
  margin: auto;
  .login{
    border-radius: 8px;
    padding:30px 20px;
    width: 360px;
    border: 1px gray solid;
    .input-group{
      margin-bottom: 10px;
    }
    .new a{
      margin-left: 10px;
      float: left;
    }
    .forget a{
      margin-right: 10px;
      float: right;
    }
  }
}













//scedule

.welcome-left{
  margin-top: 60px;
  h4{
    margin-bottom: 10px;
    span{
      margin-left: 10px;
      color:#ccc;
    }
  }
  p{
    margin-bottom: 10px;
    font-size: 16px;
  }
  ul{
    width: 160px;
    border-top: #ccc solid 1px;
    padding-top: 10px;

    li{
      padding-left: 20px;
      line-height: 30px;

      .first{
        border-left: 3px solid #fa0;
      }

      &:hover{
        border-left: 3px solid #fa0;
      }
    }
  }
}

.schedule{
  h2{
    margin-top: 60px;
    margin-bottom: 30px;
  }
  dl{
    height: 100px;
    dt{
      line-height: 30px;
    }
    dd{
      margin-left: 50px;
      span{
        display: inline-block;
        float: right;
      }
    }
  }
}




//maintain

.miantain{
  .welcome-left{
    h4{
      color:red;
      span{

      }
    }
    p{

    }
    ul{
      li{
        a{


        }
      }
    }
  }
  .maintain-right{
    h2{

    }
    dl{
      dt{
        width: 50px;
        float: left;
        text-align: right;
        margin-right: 16px;
      }
      dd{

      }
    }
    button{

    }
  }
}


//check

//modify
.modify-right{
  margin: auto;
  .modify{
    padding:30px 20px;
    width: 360px;
    border-radius: 8px;
    border: 1px gray solid;
    .input-group{
      margin-bottom: 10px;
    }
    button{
      margin:20px 0px;
      width: 100%;

    }
    .new a{
      margin-left: 10px;
      float: left;
    }
    .forget a{
      margin-right: 10px;
      float: right;
    }
  }
}





